<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.branko.threads-cms-v2</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/brankosutisyo/x-browser-bot/venv/bin/python3</string>
        <string>/Users/brankosutisyo/threads-cms-v2/server.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/brankosutisyo/threads-cms-v2</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/brankosutisyo/.local/bin:/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/brankosutisyo/threads-cms-v2/cms.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/brankosutisyo/threads-cms-v2/cms.log</string>
</dict>
</plist>
